

.header {
  // .container {
    display: flex;
    padding-block: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    position: relative;


    @media only screen and (min-width: 64rem) {
      justify-content: start;
      margin-block-end: 3rem;
      padding-inline: 3rem;
      position: static;
    }
  // }

  .logo {
    @media only screen and (min-width: 64rem) {
      margin-inline-end: 3rem;
    
    }
    img {
      @media only screen and (min-width: 64rem) {
        width: 100%;
        margin-block-start: 10px;
      }
    }
     
  }
}

