

.header {
  .container {
    display: flex;
    padding-block: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;


    @media only screen and (min-width: 64rem) {
      justify-content: start;
      margin-block-end: 5rem;
    }
  }

  .logo {
    img {
      @media only screen and (min-width: 64rem) {
        width: 70%;
      }
    }
     
  }
}

