@use '../abstract' as *;

.main {

  display: grid;
  grid-template-columns: 1fr;
 
  
  @media only screen and (min-width: 64rem) {
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    max-width: 850px;
    margin-inline: auto;
  }

  @media only screen and (min-width: 90rem) {
    max-width: 1200px;
  }


  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-block-start: 2rem;
    grid-row-start: 2;

    @media only screen and (min-width: 64rem) {
      text-align: start;
      grid-row-start: auto;
      align-items: start;

    }

      .hero__heading {
        color: $almost-black;
        font-size: 2.25rem;

        @media only screen and (min-width: 64rem) {
         font-size: 3.4rem;
         line-height: normal;
         width: fit-content;
        }

       
      }


      .hero__text {
        font-size: 1rem;
        margin-block: 1rem;
        color: $medium-gray;
        font-weight: 500;
        padding-inline: 1rem;

        @media only screen and (min-width: 64rem) {
          padding: 0;
          font-size: $fs-body;
        }
      }


    &__featured-in {
      display: flex;
      gap: 2rem;
      padding-inline: 1rem;
      align-items: center;
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 5rem;
      margin-inline: 1rem;

      @media only screen and (min-width: 64rem) {
        margin: 0;
        padding: 0;
        margin-block-start: auto;
      }
    }
  }
}