@use '../abstract' as *;

.btn {
  background-color: transparent;
  border: none;
}

.btn__learn-more {
  &:link,
  &:visited,
  &:active {
    display: inline-block;
    color: $almost-white;
    text-decoration: none;
    background-color: $almost-black;
    padding: .75rem 1.25rem;
    border-radius: 15px;
    margin: 1rem 0 3rem 0;
  }

  @media only screen and (min-width: 64rem) {
    font-size: $fs-body;
  }

  &:hover {
  }
}


.btn.btn__nav-toggle {
  @media only screen and (min-width: 64rem) {
    display: none;
  }
}

.btn.btn__dropdown {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: $medium-gray;
}

.register__btn {
  border: 1px solid $medium-gray;
  border-radius: 15px;

  @media only screen and (min-width: 64rem) {
    padding: .5rem 1rem;
  }
}