@use '../abstract' as *;

.disclosure {
  &__mobile {
    @media only screen and (min-width: 64rem) {
      display: none;
    }
  }
}

.btn.btn--disclosure {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $medium-gray;
  cursor: pointer;
  padding: 0;

  &-mobile {
    position: relative;
    z-index: 10;
  }

  &:hover {
    color: $almost-black;

    svg path {
      stroke: $almost-black;
    }
  }

  &:focus-visible {
    outline: solid orangered 3px;
    outline-offset: 3px;
  }

  &[aria-expanded='false'] {
    + .disclosure__features-content {
      display: none;
    }

    + .disclosure__company-content {
      display: none;
    }

    + .disclosure__content-mobile {
      display: none;
    }

    .navigation__toggle-icon--close {
      display: none;
    }
  }

  &[aria-expanded='true'] {
    + .disclosure__features-content {
      display: flex;
    }

    + .disclosure__company-content {
      display: flex;
    }

    .navigation__toggle-icon--open {
      display: none;
    }

    .navigation__toggle-icon--close {
      display: block;
    }

    .disclosure__icon {
      transform: rotate(-180deg);
    }

    .navigation__toggle-icon--open {
      display: none;
    }

    .navigation__toggle-icon--close {
      display: block;
    }
  }

  &[aria-expanded='false'] {
    + .disclosure__content-mobile + .overlay {
      display: none;
    }
  }
}

.btn--disclosure-mobile-close-btn {
  margin-block-end: 2rem;
  align-self: flex-end;
}

.disclosure__features-content {
  list-style: none;
  margin-inline: 0;
  margin-block: 1rem;
  flex-direction: column;
  gap: 1rem;
  @media only screen and (min-width: 64rem) {
    top: 70px;
    left: 105px;
    margin: 0;
    position: absolute;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.12);
    padding-inline: 2rem;
    padding-block: 1.5rem;
    border-radius: 12px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: #fff;

    li a {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      span {
        line-height: 0;
      }
    }
  }
}

.disclosure__company-content {
  flex-direction: column;
  margin-block: 1rem;
  list-style: none;
  gap: 1rem;

  @media only screen and (min-width: 64rem) {
    margin: 0;
    top: 70px;
    border-radius: 12px;
    padding-block: 1.5rem;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    z-index: 10;
  }
}

.disclosure__content-mobile {
  position: absolute;
  right: 0;
  top: 0;
  padding-block-start: 4rem;
  padding-inline: 2rem;
  background-color: #fff;
  min-height: 100vh;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.6);
  width: 65%;

  &-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li a {
      &:link,
      &:visited,
      &:active {
        text-decoration: none;
        color: $medium-gray;
      }
    }
  }
  .auth__mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 2rem;

    .login__btn {
      &:link,
      &:visited,
      &:active {
        text-decoration: none;
        color: $medium-gray;
        cursor: pointer;
      }

      &:hover {
        color: $almost-black;
      }
    }

    .register__btn {
      width: 100%;
      text-align: center;
      padding-block: 0.6rem;
      border: 1px solid $medium-gray;
      cursor: pointer;
    }
  }
}
