@use '../abstract' as *;


.disclosure {
  position: relative;
}

.btn.btn--disclosure {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: $medium-gray;
  cursor: pointer;

  &:hover {
    color: $almost-black;

    svg path {
      stroke: $almost-black;
    }
  }
}

  #features-content {
    margin: 0;
    top: 70px;
    left: 105px;
    list-style: none;
    position: absolute;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.12);
    padding-inline: 2rem;
    padding-block: 1.5rem;
    border-radius: 12px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;

   
    li a {
      display: flex;
      align-items: center;
      gap: .7rem;

     span {
      line-height: 0;
     }
    }
  }
  

  #company-content {
    list-style: none;
    margin: 0;
    top: 70px;
    border-radius: 12px;
    padding-block: 1.5rem;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }