@use '../abstract' as *;


.nav {
  &__desktop {
    display: none;

    @media only screen and (min-width: 64rem) {
      display: block;
      margin-inline-end: auto;
      
      .nav__desktop--list {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 2rem;

        a {
          text-decoration: none;

          &:link, &:visited, &:active {
            color: $medium-gray;
          }

          &:hover {
            color: $almost-black;
          }
        }
      }
    }
  }


  &__mobile {
    @media only screen and (min-width: 64rem) {
      display: none;
    }
  }
}



.auth__desktop {
  display: none;

  a {
    text-decoration: none;
    
    &:link, &:visited, &:active {
      color: $medium-gray;
    }

    &:hover {
      color: $almost-black;
    }
  }

  @media only screen and (min-width: 64rem) {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}